body {
  margin: 0 auto;
}
header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100px;
  align-items: center;
  justify-items: center;
  background-color: lightblue;
  border-bottom: 5px solid black;
  margin: 0 auto;
}

button {
  font-size: 50px;
  letter-spacing: 10px;
  width: 300px;
}

h1 {
  border: 5px solid black;
  padding: 5px;
}

main {
  background: purple;
  width: auto;
  height: 700px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

div {
  height: 100px;
  width: 100px;
  background: blue;
  justify-self: center;
}

.square {
  height: 100px;
  width: 100px;
  background: blue;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 60px solid transparent;
  border-right:60px solid transparent;
  border-bottom: 90px solid green;
  background: transparent;
}

.circle {
  border-radius: 50%;
  background: magenta;
}

footer {
  background: yellow;
  height: 70px;
  text-align: center;
  font-size: 60px;
}
