@font-face {
  font-family: myFont;
  src: url(<link href="https://fonts.googleapis.com/css?family=Major+Mono+Display" rel="stylesheet">);
}

body {
  margin: 0 auto;
  font-family: 'Major Mono Display', monospace;
  background: #ffda41;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100px;
  align-items: center;
  justify-items: center;
  background-color: #fdda41;
  border-bottom: 5px solid black;
  margin: 0 auto;
}

h1 {
  border: 5px solid black;
  padding: 5px;
}

main {
  background: linear-gradient(#ffda41, #f3ff32);
  width: auto;
  height: 770px;
  margin: 0 auto;
  text-align: center;
}

section {
  background: linear-gradient(#ffda41, #f3ff32);
  width: auto;
  height: 770px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 3fr 1fr 1fr 2fr;
  align-items: center;
  justify-items: center;
}

h2 {
  font-size: 70px;
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
}

p {
  font-size: 40px;
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
}

button {
  font-size: 50px;
  letter-spacing: 10px;
  width: 300px;
  grid-column-start: 2;
  font-family: inherit;
  grid-row-start: 6;
  -webkit-appearance: none;
  background: linear-gradient(to right, #f95800, #90028a, #2e0872);
  border: none;
  color: #f3ff32;
}

button:focus {
  box-shadow: 0px 0px 40px 10px red;
  outline: none;
}

button:hover {
  box-shadow: 0px 0px 40px 10px red;
  outline: none;
}

#pick {
  grid-row-start: 4;
}

.difficulty {
  width: 220px;
  height: 50px;
  font-size: 40px;
  grid-row-start: 5;
  display: inline;
  position: relative;
  color: #f3ff32;
}

#easy {
  grid-column-start: 1;
  background: linear-gradient(to right, #f95800, #90028a);
}

#medium {
  grid-column-start: 2;
  background: linear-gradient(to right, #90028a, #2e0872);
}

#hard {
  grid-column-start: 3;
  background: linear-gradient(to right, #2e0872, #f95800);
}

div {
  height: 100px;
  width: 100px;
  background: blue;
  justify-self: center;
}

.starter-square {
  position: relative;
  grid-row-start: 3;
  background: #f95800;
  cursor: pointer;
}

.starter-circle {
  position: relative;
  grid-row-start: 3;
  border-radius: 50%;
  background: #2e0872;
  cursor: pointer;
}

.starter-triangle {
  position: relative;
  grid-row-start: 3;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right:50px solid transparent;
  border-bottom: 100px solid #90028a;
  cursor: pointer;
  background: transparent;
}

.shape {
  position: absolute;
  transition: bottom 1.6s, left 1.6s;
}

.square {
  background: #f95800;
  transition-timing-function: linear;
  cursor: pointer;
}


.triangle {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right:50px solid transparent;
  border-bottom: 100px solid #90028a;
  background: transparent;
  transition-timing-function: linear;
  cursor: pointer;
}

.circle {
  border-radius: 50%;
  background: #2e0872;
  transition-timing-function: linear;
  cursor: pointer;
}

h3 {
  font-size: 100px;
  text-align: center;
  position: relative;
  animation-name: move;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.endButton {
  font-size: 50px;
  text-align: center;
  position: relative;
  animation-name: bMove;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  box-shadow: 0px 0px 50px 10px red;
}

@keyframes bMove {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: -30px;
  }
}

@keyframes move {
  0% {
    top: -100px;
  }
  100% {
    top: 100px;
  }
}
